/* Colors:
    coral: #fa7043 or rgb(250, 112, 67)
    blue: #1a6283 or rgb(26, 98, 131)
    black: #000000 or rgb(0, 0, 0,)
    grey: #dfdfdf or rgb(223, 223, 223)
    white: #ffffff or rgb(255, 255, 255)
*/


body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    padding: 0%;
}

/* Nav Bar */

.navbar {
    color:#fff;
    background-color: #1a6283;
    width: 100%;
    border: none;
    display: flex;
}

.navbar-toggle {
    background: transparent;
    border: none;
}

.navbar-toggler {
    border-color: transparent;
    padding: 0;
    border: none;
}

i.fas {
    color: #dfdfdf;
}

.notification {
    width: 2rem;
    height: 2.2rem;
}

#bell{
    width: initial;
    height: inherit;
}

.optionHeader {
    font-weight: bold;
}

.side-collapse-container {
    margin-right: auto;
    margin-left: auto;
}

.side-collapse {
    top: 50px;
    bottom: 0;
    left: 0;
    width: 256px;
    position: fixed;
    overflow: auto;
    transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
}

.side-collapse.in {
    width: 0;
}

.navbar-nav li.dropdown {
    padding-right: 0;
}

.navbar .navbar-default {
    border-right: 1px solid #ddd;
}

/* Main */

.py-5 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}