/* Colors:
    coral: #fa7043 or rgb(250, 112, 67)
    blue: #1a6283 or rgb(26, 98, 131)
    black: #000000 or rgb(0, 0, 0,)
    grey: #dfdfdf or rgb(223, 223, 223)
    white: #ffffff or rgb(255, 255, 255)
*/


body {
    background-color: #ffffff;
}
